
/* Header styles */
h1,
h2 {
    padding: 10px 10px 10px 0;
    margin: 0;
    min-height: 40px;
    max-height: 40px;
}

nav a {
    padding: 10px 15px;
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    border-radius: var(--radius);
    background-color: var(--background);
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}
nav a:hover {
    background-color: var(--hover);
}

nav ol a {
    padding: 0 5px 0 0;
    border-radius: unset;
    background-color: transparent;
    font-weight: normal;
    font-size: 0.9em;
}
nav ol a:hover {
    background-color: transparent;
    text-decoration: underline;
}