{{define "head"}}
<head>
    <title>Go - {{ .Title}}</title>
    <meta name="description" content="Site description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/resources/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/resources/vars.css" rel="stylesheet"/>
    <link href="/resources/site.css" rel="stylesheet"/>
    <link href="/resources/text.css" rel="stylesheet"/>
</head>
{{end}}